@model List<EcommerceLib.Dtos.CategoryDto>

<h5>Category</h5>
<ul class="list-unstyled">
    @if (Model != null && Model.Any())
    {
        foreach (var category in Model)
        {
            <li class="list-unstyled">
                <a href="@Url.Action("GetProductByCategory", "Product", new { id = category.CategoryId })">@category.CategoryName</a>
            </li>
        }
    }
    else
    {
        <li class="list-unstyled">No categories available.</li>
    }
</ul>
