@{
    ViewData["Title"] = "About";
}
<main>
    <section>
        <h2>Welcome to Ecommerce page</h2>
        <p>Ecommerce page is your go-to destination for a diverse range of products. Our mission is to make online shopping easy and enjoyable for everyone. With a focus on quality and customer satisfaction, we strive to bring you the best shopping experience possible.</p>
    </section>

    <section>
        <h2>Our Core Values</h2>
        <p>At the Ecommerce page, we believe in:</p>
        <ul>
            <li><strong>Product Quality:</strong> We carefully select products to ensure they meet our high standards.</li>
            <li><strong>Exceptional Customer Service:</strong> Our dedicated team is always here to assist you with any questions or concerns.</li>
            <li><strong>Competitive Pricing:</strong> We offer the best prices without compromising on quality.</li>
            <li><strong>Easy Returns:</strong> We want you to love your purchase, but if you don’t, our return process is simple and hassle-free.</li>
        </ul>
    </section>

    <section>
        <h2>Our Gallery</h2>
        <p>Take a look at some of our featured products:</p>
        <div class="gallery">
            <img class="rounded-image" src="~/images/About/CoreComponents.jpg" title="Core Components" width="200">
            <img class="rounded-image" src="~/images/About/StorageDevices.jpg" title="Storage Devices" width="200">
            <img class="rounded-image" src="~/images/About/Accessories.jpg" title="Accessories" width="200">
            <img class="rounded-image" src="~/images/About/Refurbished.jpg" title="Refurbished" width="200">
            <img class="rounded-image" src="~/images/About/Gaming.jpg" title="Gaming" width="200">
        </div>
    </section>

    <section>
        <h2>Contact Us</h2>
        <p>If you have any questions or need assistance, don’t hesitate to reach out to us. You can contact us via email at <a href="mailto:contact@ecommerce.com">contact@ecommerce.com</a>.</p>
        <p></p>
    </section>
</main>
